# Transport

In [2]:
# BASE
import joblib 
import numpy as np
import pandas as pd  
import seaborn as sns  
import matplotlib.pyplot as plt

https://data.gov.ie/dataset/tha25-passenger-journeys-by-public-transport

In [3]:
ireland = pd.read_csv("THA25 - Passenger Journeys by Public Transport.csv")

In [4]:
ireland.head()

,STATISTIC,Statistic Label,TLIST(W1),Week,C03935V04687,Mode of Transport,UNIT,VALUE
0,THA25C01,Passenger Journeys,2019W01,2019 Week 01,10,Dublin Metro Bus,Number,1987891.0
1,THA25C01,Passenger Journeys,2019W01,2019 Week 01,20,"Bus, excluding Dublin Metro",Number,497598.0
2,THA25C01,Passenger Journeys,2019W01,2019 Week 01,30,Rail,Number,NaN
3,THA25C01,Passenger Journeys,2019W01,2019 Week 01,40,"All public transport, excluding LUAS",Number,2485489.0
4,THA25C01,Passenger Journeys,2019W02,2019 Week 02,10,Dublin Metro Bus,Number,2709579.0

https://assets.publishing.service.gov.uk/media/65788df3254aaa000d050b7e/full_data_clean.csv/preview

In [14]:
en = pd.read_csv("full_data_clean.csv")

In [15]:
en.head()

         date             transport_type  value
0  2020-03-01                       cars   1.03
1  2020-03-01  light_commercial_vehicles   1.11
2  2020-03-01       heavy_goods_vehicles   1.08
3  2020-03-01         all_motor_vehicles   1.04
4  2020-03-01                   tfl_tube   1.03